node_modules/*
build/*
**/#*
**/*~
**/*.log
**/*.wasm
**/*.pyc
**/*.wast
**/*.old
**/.#*
**/a.txt
**/TAGS
**/.DS_Store
**/.vscode
**/*.o.*
data/*
**/package-lock.json
package-lock.json
*.pem
**/dcm2nii*
**/screenshots
**/*.o
**/libbiswasm_wasm.js
**/docker/wasm
web/LICENSE
**/bioimagesuiteweb-*
docker/native
docker/web
docker/install
docker/binary/b*sh
docker/binary/*tgz
docker/binary/*zip
