node_modules/*
build/*
**/#*
**/*~
**/*.log
**/*.wasm
**/*.pyc
**/*.wast
**/*.old
**/.#*
**/a.txt
**/TAGS
**/.DS_Store
**/.vscode
**/*.o.*
data/*
**/package-lock.json
package-lock.json
*.pem
**/dcm2nii*
**/screenshots
**/*.o
**/libbiswasm_wasm.js
web/LICENSE
docker/binary/bisweb*tar.gz
docker/binary/bisweb*zip
docker/binary/bisweb*tgz
various/vtk/*
various/connatlas/*/output/*
npm-shrinkwrap.json
    