.tab-content {
    margin-top : 0px;
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}

#toph4 {
    position: relative;
    top: 65px;
    left: 0px;
    width: 805px;
    margin-left: 0px;
    min-height: 50px;
    padding : 5px;

                           
}

#midh4 {
    margin-left : 20px;
}
    

#bistabs {
    position: absolute;
    top: 160px;
    margin-top : 0px;
    padding-top : 0px;
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
    width:805px;
}

#viewerwidget1,#viewerwidget2 {
    top: 0px;
    left: 0px;
    position: relative;
    margin-top : 5px;
    padding-left:5px;
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
    width: 800px;
    height: 700px;
    min-height: 700px;
    max-height: 700px;
  
}

#viewerwidget {
    left: 0px;
    position: relative;
    margin-top : 5px;
    padding-left:5px;
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
    height: 700px;
    min-height: 700px;
    max-height: 700px;
    top: 65px;
    width: 900px;
}



#viewer_layout1,#viewer_layout2 {
    width:800px;
    height:700px;
    min-height: 700px;
    max-height: 700px;
    top:2px;
    left:2px;
    position:relative;
}

#viewer_layout {
    width:900px;
    height:700px;
    min-height: 700px;
    max-height: 700px;
    top:2px;
    left:2px;
    position:relative;
}


.topbuttons {
    margin-top : 5px;
    margin-bottom: 5px;
    margin-left: 20px;
}
    

#bottom {
    margin : 10 10 10 10;
    left: 20px;
}

#baseresults {
    position: absolute;
    margin-top: 0px;
    top: 65px;
    left : 820px;
    width: calc(100% - 830px);
    height: calc(100% - 140px);
}

#baseresults2 {
    position: absolute;
    margin-top: 0px;
    top: 65px;
    left : 930px;
    width: calc(100% - 930px);
    height: calc(100% - 140px);
}




#displayresults {
    min-height: calc(100% - 430px);
    max-height: calc(100% - 430px);
    overflow-x : auto;
    overflow-y : auto;
    font-size : 16px;
    padding : 2 2 2 2;
}


#results {
    color : white;
    font-size : 20px;
}

#resultimages {
    position: relative;
    left: 15px;
    top: 10px;
    margin : 4 4 4 4;
    width: 400px;
}

.bisbtn {
    margin-left : 10px;
}

#first,#last {
    width : 40px;
    margin-left: 5px;
    margin-right: 10px
}

.bisimg {
    width : 290px;
    height: 339px;
    min-width : 127px;
    border-style: ridge;
    border-color: #888888;
    border-radius: 1px;
}

#imggold, #imgoutput {
    margin-left: 4px;

}

#imgmiddle {
    width : 100px;
    height: 300px;
    min-height: 300px;
}

