body {
    background-color : #222222
}

.tab-content {
    margin-top : 0px;
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}

#toph4 {
    position: relative;
    top: 110px;
    left: 0px;
    width: 805px;
    margin-left: 0px;
    min-height: 50px;
    background-color : #444444;
    padding : 5px;

                           
}

#midh4 {
    margin-left : 40px;
}
    

#bistabs {
    position: absolute;
    top: 200px;
    margin-top : 0px;
    padding-top : 0px;
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
    width:805px;
}

#viewerwidget1,#viewerwidget2 {
    top: 0px;
    left: 0px;
    position: relative;
    margin-top : 5px;
    padding-left:5px;
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
    width: 100vw;
    height: calc(100%-400px);
  
}

#results {
    position : absolute;
    top: 65px;
    height : 50px;
    min-height : 50px;
    width : 805px;
    background-color : #000033;
}

bisweb-viewerlayoutelement {
    width:800px;
    height:700px;
    top:2px;
    left:2px;
    position:relative;
}



.topbuttons {
    margin-top : 5px;
    margin-bottom: 5px;
    margin-left: 20px;
}
    

#bottom {
    margin : 10 10 10 10;
    left: 20px;
}

#baseresults {
    position: absolute;
    margin-top: 0px;
    top: 65px;
    margin-left : 820px;
    width : 400px;
    background-color : #333333;
}

#displayresults {
    max-height : 673px;
    min-height : 673px;
    overflow-x : auto;
    overflow-y : auto;
    font-size : 14px;
    padding : 2 2 2 2;
}

#resultimages {
    position: relative;
    left: 15px;
    top: 10px;
    margin : 4 4 4 4;
};

#first,#last {
    background-color: #183748;
    color : #ffffff;
    width : 30px;
    margin-left: 5px;
    margin-right: 10px;
}
