#form {
    margin-top: 10px;
    margin-bottom: 10px;
}

.testhead {
    color : green;
}


#first,#last, #testname, #testselect {
    width : 40px;
    margin-left: 5px;
    margin-right: 10px;
}

#testname,#testselect {
    width: 200px;
    margin-right: 0px;
}

#threaddiv {
    margin-right : 10px;
}

#usethread {
/*    background-color: #183748; */

}

#top {
    left : 2vw;
    width : 98vw;
}

#help {
    padding : 1px;
    font-size : 18px;
}

#helptext {
    margin-top: 2px;
    margin-left : 20px;
    margin-right : 20px;
    margin-bottom: 5px;
}

#main {
    padding : 5px;
    margin-left : 20px;
    margin-right : 20px;
    margin-bottom: 100px;
    font-size : 16px;
}


#results {
    margin-left : 20px;
    font-family: monospace;
    font-size: 20px;
    color : white;
}

details {
    border : 0px;
}

pre {
    border: 0px;
    color : #008800;
    margin-left : 20px;
    margin-right : 20px;
    background-color : #dddddd;
    font-size : 12px;
}

.passed {
    color: blue
}

.failed {
    color : red
}

#computemem {
    margin-left: 50px;
}

