
#main {
    left : 20px;
    top: 55px;
    margin-bottom: 60px;
    overflow-y : auto;
    width : 100%;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}
                  

.carousel-inner {
    margin-top : 40px;
    height: 500px;
    min-height: 500px;
}

.item {
    height : 500px;
}

.carousel-control {
    z-index : 1000;
    position : absolute;
    height : 200px;
    min-height: 200px;
    top: 100px;
}


li {
    margin: 0 0 2px 0;
    font-size : 16px
}


h4 {
    margin: 0 0 4px 0;
}
