
#main {
    left : 5vw;
    top: 75px;
    width : 90vw;
    height : 525px;
    position: absolute;
    background-color : #000011
}

#bottom {
    left : 5vw;
    width : 90vw;
    position: absolute;
    top: 625px;

}


.carousel-inner {
    margin-top : 2vw;
    margin-bottom : 2vw;
    height: 500px;
    min-height: 500px;
}

.item {
    height : 500px;
}

.carousel-control {
    z-index : 1000;
    position : absolute;
    height : 200px;
    min-height: 200px;
    top: 100px;
}

#leftarrow,#rightarrow {
    width : 5vw;
    position : absolute;
    top : 200px;
}

#leftarrow {
    left: 5vw;
}

#rightarrow {
    right: 5vw;
}

li {
    margin: 0 0 2px 0;
    font-size : 16px
}

p {
    font-size : 16px;
}


h4 {
    margin: 0px 0 10px 0;
}

body {
    background-color :   rgb(28,45,64);
}