
#applicationstext {
    padding : 0 0 0 0;
}

#offline {
    left : 0vw;
    right : 0vw;
    top: 75px;
    width : 95vw;
    height : 45px;
    position: absolute;
}

#offline2 {
    float : right;
    position : relative;
}

#onlinebut,#offlinebut {
    visibility : hidden;
}


#main {
    left : 5vw;
    top: 125px;
    width : 90vw;
    height : 525px;
    position: absolute;
}

#bottom {
    left : 5vw;
    max-width: 1024px;
    position: absolute;
    top: 675px;

}


.carousel-inner {
    margin-top : 2vw;
    margin-bottom : 2vw;
    height: 500px;
    min-height: 500px;
}

.item {
    height : 500px;
}

.carousel-control {
    z-index : 1000;
    position : absolute;
    height : 200px;
    min-height: 200px;
    top: 100px;
}

#leftarrow,#rightarrow {
    width : 5vw;
    position : absolute;
    top : 200px;
}

#leftarrow {
    left: 5vw;
}

#rightarrow {
    right: 5vw;
}


p {
    font-size : 16px;
}


h2 {
    margin: 20px 0 20px 0;
}

body {
    font-size : 16px;
}


.bisli {
    margin: 0px 0px 8px 0px;
    font-size : 18px
}
