
.navbar-fixed-bottom {
    max-width: 100vw;
    width: 100vw;
}

#tempviewer {
  position: absolute;
  z-index:4;
  top:5vmin;
  left:12.5vmin;
  font-size: 16vmin;
  width:50vmin;
  line-height: 18vmin;
  text-align: center;
}


#viewer {
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    position: relative;
}


#topleft {
    top:65px;
    left:5vmin;
    position:absolute;
    width: 38vmin;
    height: 39vmin;
}

#topright {
    top:65px;
    left: 47vmin;
    position:relative;
    width: 46vmin;
    height:39vmin;
}

#bottomleft {
    top: 45vmin;
    left:5vmin;
    width:38vmin;
    height:46.5vmin;
    position:absolute;
}

#bottomright {
    top:47vmin;
    left:45vmin;
    width:50vmin;
    position:absolute;
    height: 43.0vmin;
    margin-bottom: 50px;
}

.celement {
    position: absolute;
}


#xviewer,#yviewer,#zviewer {
  z-index:1;
  display: inline-block;
}

#xlines,#ylines,#zlines {
  z-index:3;
  display: inline-block;
}

#xcontrolsdiv,#zcontrolsdiv, #ycontrolsdiv {
    z-index:2;
    display: inline-block;
    left:3.0vmin;
    top: 0.0vmin;
    width:31.9vmin;
}

#xcontrols,#ycontrols,#zcontrols {
    margin-top: 2.5px;
    height: 15px;
}    

.biswebmnislider {
    position: absolute;
    height: 20px;
}

#ycontrols {
    width: 31.9vmin;
    top : 1.0vmin;
}


#ylines, #yviewer {
  top: 3vmin;
  left: 1vmin;
  width:35.9vmin;
  height: 35.9vmin;
}

#xlines, #xviewer {
  top:3vmin;
  left: 1.0vmin;
  width:43.0vmin;
  height:35.9vmin;
}

#xcontrols,#xcontrolsdiv {
    width:39.0vmin;
}


#zlines, #zviewer {
    top : 1.0vmin;
    left: 1.0vmin;
    width: 35.9vmin;
    height: 43.0vmin;
}

#zcontrolsdiv {
    top:44.5vmin;
}

.dataframe {
    margin-bottom: 10px;
    left: 1.5vmin;
    z-index: 4;
 }

#aboutframe {
    margin-top: 20px;
    font-size: 85%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.numberid {
    padding-right:2px;
    text-align: center;
    width:30%;
    height: 25px;
}

.buttonid {
    width:100%;
    height : 24px;
        
}

#manual {
    padding: 10px;
    text-align : center;
}

#baselectbox {
    width:92%;
    margin-right:3px;
}

#batchframe {
    margin-top: 20px;
}

#batch,#batch2 {
    width:100%;
}

.xcol-sm-2 {
    width:16%;
    display: inline-block;
    margin: 0 0 0 0;
}

.xcol-sm-1 {
    width:2%;
    display: inline-block;
    margin: 0 0 0 0;
}

.xcol-sm-7 {
    width:56%;
    display: inline-block;
    margin: 0 0 0 0;
}

.xcol-sm-10 {
    width:80%;
    display: inline-block;
    margin: 0 0 0 0;
}

.xcol-sm-3 {
    width:20%;
    display: inline-block;
    margin: 0 0 0 0;
}

.xcol-sm-6 {
    width:48%;
    display: inline-block;
    margin: 0 0 0 0;
}

.xcol-sm-5 {
    width:40%;
    display: inline-block;
    margin: 0 0 0 0;
}
