.tab-content {
    margin-top : 0px;
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}

#bistabs {
    position: relative;
    top: 70px;
    margin-top : 0px;
    padding-top : 0px;
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}

#viewerwidget1,#viewerwidget2 {
    top: 0px;
    left: 0px;
    position: relative;
    margin-top : 5px;
    padding-left:5px;
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
    width: 100vh;
    height: calc(100%-110px);
  
}


