
.vakata-context {
	z-index: 10000000;
}
.greyPre {
    background-color: #808080;	
}

.whitePre {
	background-color: #FFFFFF;
}

.chart {
    text-align: left;
}

pre {
	font-size:9px;
}

#Tools {
    margin-top : 5px;
    padding-left:5px;
}



.sidd-item {
	background-color: #666666;
	width: 400px;
	height: 335px;
	text-align:center;
}

#smitem1 {
	text-align: center;
}
.siddtextFieldLabel {
	color: #3C3C3C;
}

#patientName {
    width: 150px;
    margin-left: 60px;
}

#smitem3 {
	text-align: center;
}

.btn-sidd {
	width: 150px;

}
#smitem5{
	text-align:center;
}

.carousel-indicators {
	position: relative;
}

#smitem6 {
	text-align: center;
}


#navigationButtons {
	width: 400px;
}

.tab-content {
    margin-top : 0px;
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}

#bistabs {
    position: relative;
    top: 70px;
    margin-top : 0px;
    padding-top : 0px;
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}

#viewerwidget1,#viewerwidget2 {
    top: 0px;
    left: 0px;
    position: relative;
    margin-top : 5px;
    padding-left:5px;
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
    width: 100vh;
    height: calc(100%-110px);
  
}


